/*masterSize is set in javascript*/
/*afterNavBar is set in javascript*/

/*Begin Title Style*/
#title
{
    background-color: black;
    color: orange;
    font-size: 100px;
    text-align: center;
    line-height: 28vh;

    max-height: 300px;
    height: 28vh;
    max-width: inherit;

    padding: 0;
    overflow: hidden;
}

img
{
    max-height: 100%;
    max-width: 100%;
}
/*End Title Style*/

/*Begin NavBar Style*/
ul
{
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 14vw;
    max-width: 300px;
    min-width: 150px;
    height: 100%;
    text-align: center;
    position: absolute;
    overflow: hidden;
    background-color: lightgray; 

    font-size: 20px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

li a
{
    display: block;
    color: black;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    border-bottom: 2px solid black;
}

li a:hover:not(.active)
{
    background-color: #555;
    color: white;
}

li a.active
{
    background-color: #ff8000;
    color: white;
}
/*End NavBar Style*/